body{
    
    margin:0px;
    /*margin-left: 50px;
    margin-right: 50px;*/
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/*header section START*/

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}

.menu{
    
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-bottom: 100px;
    padding-top: 20px;
    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    
}


/* Header part 2*/
.hcontent{
    display: flex;
    justify-content: space-between;
    
    
    
}

.left{
    display: flex;
    flex-direction: column;
    
}

.line1{
    width: 350px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.line2{
    width: 405px;
    padding-bottom: 10px;
}

.right{
    width: 500px;
    height: 200px;
   
    display: flex;
  
   justify-content: center;
   align-items:  center;
   background: #e5e7eb79;
  
   
}

.signup{
    width: 80px;
    padding: 5px;
    color:white;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
}

/*header section END*/

/*C1 section START */

.c1{
    
    padding-bottom: 90px;
}
.text{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.allcontent{
    display: flex;
    justify-content: center;
    gap: 70px;

}

.content{
    display: flex;
    flex-direction: column;
    
    
}

.ill{
    width: 130px;
    height: 130px;
    border: solid;
    border-color: #3882F6;
    border-radius: 8px;
    
}

.info{
    width: 130px;
    
    align-self: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    color: #707174ce;
}

/*C1 section END*/

/*C2 section START*/

.c2{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-bottom: 100px;
}

.q1{
    
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    height: 200px;
    width: 745px;
    align-self: center;
    
    
}

.q2{

    padding-left: 800px;
    font-weight: bold;
    
}
/*C2 section END*/

/*C3 section STARTS*/

.c3{
    display: flex;
    background: #3882F6;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding:50px;
    justify-content: space-between;
    color: #F9FAF8;
    border-radius: 8px;
}

.b1{
    color: #F9FAF8;
   background: #3882F6;
   border-color: white;
   border: solid;
   border-radius: 4px;
   border-width: 1px;
   width: 80px;
   padding: 0px;
   height: 20px;
   

}
/*C3 section ENDS*/

/*FOOTER section STARTs*/
.footer{
    background-color: #1F2937;
    font-size: 20px;
    font-weight: lighter;
    color: #F9FAF8;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}